*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #fbfaf8;
    min-width: 290px;
}
article{
    display: inline-block;
    float: left;
    width: 50%;
}
ul{
    list-style: none;
    position: relative;
    margin-left: 3em;
}
ul li{
    margin-bottom: 1em;
}
ul li a{
    text-decoration: none;
    list-style: none;
    font-size: 1.25em;
    color: #516D99;
    font-weight: 700;
}
header{
    height: 6em;
    position: sticky;
    top: 0px;
}
h1{
    text-align: center;
    background-color: #AFBACC;
    color: #516D99;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #333;
}
h2{
    text-align: center;
    background-color: #CCB3AF;
    color: #516D99;
    line-height: 1.25em;
    text-shadow: 2px 2px 2px white;
}
div{position: relative;
    display: flex;
    height: 100%;
}
hr {
    background-color: transparent;
    margin-bottom: 4px!important;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top: 3px solid #FFC9B5;
    display: block;
    height: 1px;
    line-height: 19px;
    margin-bottom: 14px;
    margin-top: 15px;
    width: 90%;
}
#github,#linkedin,#curriculum{
    text-decoration: none;
}
#github:before{
    font-family: 'Fontawesome';
    content:'\f09b';
    background-color:#FFC9B5;
    font-size: 2em;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#linkedin:before{
    color: #FFC9B5;
    font-family: 'FontaWesome';
    content: '\f08c';
    font-size: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#curriculum:before{
    color: #FFC9B5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#linkedin{
    color: #FFC9B5;
}
#curriculum span{
    color: #FFC9B5;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 0.75em;
}
#github,#linkedin{
    padding-left: 2em;
    padding-top: 10px;
}
#github,#linkedin,#curriculum{
    padding-bottom: 10px;
    text-decoration: none;
    background-color: inherit;
}
footer p{
    padding-top: 15px;}
footer{
    min-height: 50px;
    max-height: 150px;
    position:fixed;
    display: flex;
    float: left;
    bottom: 0;
    width: 100%;
    min-width: 290px;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #516D99;
    z-index: 2;
    justify-content: center;
    color:#F5FEFF;
    background: rgb(2,0,40);
background: linear-gradient(90deg, rgba(2,0,40,1) 0%, rgba(81,109,153,1) 100%, rgba(251,250,248,1) 100%);
}
#enlacePrincipal{
    color: #fbfaf8;
    margin-top: 1em;
    background-color: inherit;
}
#enlaceSecundario{
    color: #fbfaf8;
    margin-top: 1em;
    background-color: inherit;
    margin-left: 2em;
}