*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    background-color: #EEE9DA;
    background-image: url("../images/php.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
header{
    line-height: 4.1rem;
    position: absolute;
    top: 0px;
    font-variant-caps: small-caps;
    z-index: 10;
    width: 100%;
    background-image: linear-gradient(to left top, #cfb8b5, #d4c1c2, #d8cbce, #dcd4d9, #e1dee1, #d7d4d9, #cdcad2, #c1c0cb, #a2a2b5, #83869f, #636b8a, #425176);
    opacity: 0.95;
}
h1{
    text-align: center;
    color:#425176;
    color: #CCB3AF;
    line-height: 2.05em;
    text-shadow: 2px 2px 2px #333;
    text-decoration: #AFBACC underline solid;
}
h2{
    text-align: center;
    color: #83a4c6;
    color: #516D99;
    line-height: 2.05em;
    text-shadow: 2px 2px 2px white;
    text-decoration: #AFBACC underline solid;
}
main{
    width: 98%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 635px) {
    main {
        margin: 12rem auto;
        height: 1600px;
        top: 12rem;
    }
}
@media screen and (max-width: 800px) {
    main {
        height: 1200px;
    }
}
@media screen and (min-width: 1000px) {
    main {
        height: 1000px;
    }
}
@media screen and (min-width: 1250px) {
    main {
        height: 800px;
    }
}
.barraLateral {
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
}

.barraLateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    color: #f59477;
    display: block;
    transition: 0.3s;
}

.barraLateral a:hover {
    color: #516D99;
}

.barraLateral .botonCerrar{
    position: absolute;
    right: 25px;
    font-size: 36px;
    margin-left: 5px;
}
.botonCerrar{
    position: absolute;
    top: 5%;
    font-size: 36px;
    margin-left: 5px;
}
.botonAbrir {
    font-size: 20px;
    cursor: pointer;
    background-color: whitesmoke;
    color: #f59477;
    padding: 10px 15px;
    border: none;
    z-index: 100;
    position: absolute;
    top: 3%;
    left: 2%;    
    border-radius: 3%;
    line-height: 2.5rem;
}

.botonAbrir:hover {
    line-height: 2.60rem;
    box-shadow: 4px 12px 16px 4px rgba(0,0,0,0.6);
}
#divBotonAbrir {
    transition: margin-left .5s;
    padding: 20px;
}
.menu{
    position: absolute;
    top: 15%;
}
.menu p{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 28px;
    color: #425176;
    display: block;
    transition: 0.3s;
    text-decoration: underline solid #425176;
}
.menu p:hover{
    filter: invert(1);

}
.menu li:nth-child(2) a{
    color: #ff0000;
    font-weight: bolder;
    text-decoration: solid underline #cc0066;
    font-size: 25px;
}
.menu li:nth-child(2) a:hover{
    filter: invert(1);
}
@media screen and (max-height: 450px) {
    .barraLateral {
        padding-top: 15px;
    }
    .barraLateral a {
        font-size: 15px;
    }
}
img{
    justify-content: center;
    align-items: center;
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}
.enlaces{
    position: absolute;
    margin: 0 auto;
    width: 90%;
    padding: 6rem auto;
    max-height: 2024px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
hr {
    background-color: #FFC9B5;
    background: rgb(2,0,40);
    background: linear-gradient(90deg, rgba(2,0,40,1) 0%, rgba(81,109,153,1) 100%, rgba(251,250,248,1) 100%);
    margin-bottom: 4px!important;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top: 3px solid #FFC9B5;
    display: block;
    height: 6px;
    line-height: 39px;
    width: 90%;
    margin-left: 15px;
    box-shadow:1px 1px 8px #333;
    border-radius: 25%;
}
.enlaces > li{
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    color: #516D99;
    border: 1px #666666 solid;
    border-radius: 1%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    line-height: 2.5em;
    height: 24rem;
    max-width: 17rem;
    text-shadow: 2px 2px 2px #333;
    background-color: #ffffff;
    opacity: 0.95;
    text-align: center;
    text-transform: uppercase;
}
.enlaces li:hover{
    /*background: linear-gradient(to top, #ccc,#fff );*/
    height: 24.25rem;
    box-shadow: 4px 12px 16px 4px rgba(0,0,0,0.6);
}
.enlaces li a{
    font-size: 30px;
    color: #CCB3AF;
    text-decoration: none;
    margin-left: 0.5em;
}
.enlaces li a:hover{
    color: #FFC9B5;
}
#github,#linkedin,#curriculum{
    clear: both;
    text-decoration: none;
}
#github:before{
    font-family: 'Fontawesome';
    content:'\f09b';
    background-color:#FFC9B5;
    font-size: 2em;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#linkedin:before{
    color: #FFC9B5;
    font-family: 'FontaWesome';
    content: '\f08c';
    font-size: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#curriculum:before{
    color: #FFC9B5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#linkedin{
    color: #FFC9B5;
}
#curriculum span{
    color: #FFC9B5;
    font-size: 30px;
    padding-top: 10px;
}
#github,#linkedin{
    padding-top: 10px;
}
footer p{
    padding-top: 15px;
}
footer{
    clear: both;
    height: 50px;
    position:fixed;
    justify-content: space-evenly;
    display: flex;
    float: left;
    bottom: 0;
    width: 100%;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #516D99;
    color:#F5FEFF;
    opacity: 0.9;
    z-index: 101;
    background: rgb(2,0,40);
    background: linear-gradient(90deg, rgba(2,0,40,1) 0%, rgba(81,109,153,1) 100%, rgba(251,250,248,1) 100%);
}